<template>
  <div class="box login-box">
    <b-alert
      variant="danger"
      dismissible
      fade
      :show="$store.state.showLoginError"
      @dismissed="showDismissibleAlert=false"
    >
      {{ $store.state.errorMsg }}
    </b-alert>
    <b-card>
      <h1 style="margin-bottom: 1.5em; text-align: center">{{ data.tagline }}</h1>
      <b-form v-on:submit.prevent="login">
        <b-form-group
          v-bind:style="styles.formGroup"
          id="input-userName"
          label="Ingrese su usuario"
          label-for="input-userName"
        >
          <b-form-input
            id="input-userName"
            v-model="form.userName"
            type="text"
            required
          />
          <p class="error text-danger" v-if="form.userName && !IsMail">
            user must be an email
          </p>
        </b-form-group>
        <b-form-group
          v-bind:style="styles.formGroup"
          id="input-password"
          label="Ingrese su clave"
          label-for="input-password"
        >
          <b-form-input
            id="input-password"
            v-model="form.password"
            type="password"
            required
          />
          <p class="error text-danger" v-if="form.password && !passwordIsOk">
            password must have at least 1 uppercase letter 1 lowercase letter 1 number and 1 special character
          </p>
        </b-form-group>

        <b-button type="submit" variant="primary">Entrar</b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import Vue from 'vue'

import { 
  BootstrapVue, 
  IconsPlugin 
} from 'bootstrap-vue'

import {
  CHANGE_LOGIN_STATUS,
  SHOW_LOGIN_ERROR,
  SEND_CREDENTIALS,
  SEND_CREDENTIALS_TO_API,
  ADD_ERROR_MESSAGE
} from '../vuex/mutationsTypes'

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

import { userIsMail } from '../validators/username'
import { passwordRegEX } from '../validators/password'

Vue.use(BootstrapVue)
Vue.use(IconsPlugin)

export default {
  data: () => {
    return {
      styles: {
        formGroup: {
          marginBottom: '2em'
        }
      },
      form: {
        userName: '',
        password: ''
      }
    }
  },
  computed: {
    data () {
      return this.$page.frontmatter
    },
    IsMail () {
      this.$store.commit(SHOW_LOGIN_ERROR, false)
    
      return userIsMail(this.form.userName)},
    passwordIsOk() {
      this.$store.commit(SHOW_LOGIN_ERROR, false)
      
      return passwordRegEX(this.form.password)
    }
  },
  methods: {
    login() {
      if (userIsMail(this.form.userName) && passwordRegEX(this.form.password)) {
        this.$store.commit(SHOW_LOGIN_ERROR, false)
        this.$store.dispatch(SEND_CREDENTIALS_TO_API, this.form)
      } else {
        this.$store.commit(SHOW_LOGIN_ERROR, true)
        this.$store.commit(ADD_ERROR_MESSAGE, 'Invalid Fields')
      }
    }
  }
}
</script>
